# 안녕하세요^^ 
## AIVLE 미니프로젝트 '서울시 생활정보 기반 대중교통 수요 분석 ' 과정에 오신 여러분을 환영합니다.
* 본 과정에서는 실제 사례와 데이터를 기반으로 문제를 해결하는 전체 과정을 자기 주도형 실습으로 진행해볼 예정입니다.
* 앞선 교육과정을 정리하는 마음과 지금까지 배운 내용을 바탕으로 문제 해결을 해볼게요!
* 미니 프로젝트를 통한 문제 해결 과정 'A에서 Z까지', 지금부터 시작합니다!

## 개인과제
* 데이터 구조, 분포 확인, 전처리 : 1.1_버스정류장데이터 / 1.2 유동인구데이터 / 1.3_주민등록데이터 / 1.4_업종등록데이터
* 데이터간 관계 가설 수립 및 검증 : 1.5_데이터 분석

---

# 데이터 분석부터 먼저 시작해보겠습니다.
## "구별 업종 등록 데이터" 를 확인해 보도록 하겠습니다

In [2]:
# 필요 라이브러리부터 설치합니다.
%pip install pandas seaborn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.12.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /usr/local/lib/python3.10/dist-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

## 기본전제
* 처음에 제공되는 기본/추가 데이터는 'raw_data' 폴더에 있습니다.

[기본 데이터]
* business_type.csv

[데이터 소개]
* 서울 시 구별 등록 업종 상위 10개 데이터
    * 택시운송업
    * 한식일반음식점업
    * 용달 화물자동차 운송업
    * 부동산 중개 및 대리업
    * 두발미용업
    * 커피전문점
    * 남녀용 겉옷 및 셔츠 도매업
    * 기타주점업
    * 일반 교과 학원
    * 한식 육류요리 전문점

[변수 소개]
* 다수 업종 상위 1~10

---

# 1.데이터 불러오기
## 모든 미니 프로젝트의 시작은 '데이터 불러오기' 부터라고 할 수 있습니다.
+ KeyPoint : 불러오고자 하는 데이터에 따라 자유롭게 변수로 지정할 수 있다.

###  데이터 프레임을 불러오고 변수로 저장(여기서는 CSV 기준으로 진행)
* csv : pd.read_csv("파일이름. csv")
* txt : pd.read_csv("파일이름. csv", sep="구분자")
* xlsx : pd.read_excel('파일이름.xlsx')
* pickle : pd.read_pickle("파일이름.pkl") <br>
 [참고] pickle은 파이썬의 모든 객체를 파일로 저장할 수 있는 방법으로 DataFrame,List,Dict 등 모든 객체 저장 가능(특히 sklearn라이브러리를 통해 모델을 학습시키고, 저장할 때 많이 사용)

## 기본전제
* 처음에 제공되는 데이터는 'raw_data' 폴더에 있습니다.

[기본 데이터]
* 1.4 business_type.csv

[데이터 소개]
* 서울시 업종 등록 데이터

#### [실습문제1] 데이터 로딩
* '1.4 business_type.csv'파일을 'seoul_business' 변수에 저장하고 그 데이터를 확인하세요.
    * 데이터 파일 로딩시 참고 사항 
        * 구분자(sep)는 ',' 입니다
        * UTF-8 인코더를 사용해 주세요

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
import pandas as pd

path = '/content/drive/MyDrive/mini-1/2023.02.13_미니프로젝트1차_실습자료/1.4 business_type.csv'
seoul_business = pd.read_csv(path, sep=',', encoding = 'UTF-8')
seoul_business.head(5)

,자치구,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
0,자치구,동,택시운송업,택시운송업,한식 일반 음식점업,한식 일반 음식점업,용달 화물자동차 운송업,용달 화물자동차 운송업,부동산 중개 및 대리업,부동산 중개 및 대리업,...,커피전문점,커피전문점,남녀용 겉옷 및 셔츠 도매업,남녀용 겉옷 및 셔츠 도매업,기타주점업,기타주점업,일반 교과 학원,일반 교과 학원,한식 육류요리 전문점,한식 육류요리 전문점
1,자치구,동,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,...,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수
2,합계,합계,"47,176","76,701","29,225","100,183","28,494","29,356","24,013","42,636",...,"16,255","57,322","13,388","51,116","13,339","31,371","11,911","50,773","11,109","44,653"
3,종로구,소계,215,215,"1,548","5,912",618,646,549,889,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
4,종로구,사직동,7,7,230,982,12,12,57,96,...,124,525,2,18,74,177,9,34,45,220

In [6]:
# 데이터 프레임의 Shape을 확인합니다.
seoul_business.shape

(451, 22)

---

# 2.기본 정보 확인 및 클렌징

+ 데이터 클렌징 : 결측치, 이상치 등을 제거하여 데이터 분석 결과가 왜곡 되는 문제를 방지하기 위한 정제 과정

#### [실습문제2] 기본 정보 확인하기
* 'seoul_moving' 데이터의 정보를 확인해보세요.
* 'describe', 'info', 'head' 등 전부 활용해 보겠습니다.

In [8]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
seoul_business.head()

,자치구,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
0,자치구,동,택시운송업,택시운송업,한식 일반 음식점업,한식 일반 음식점업,용달 화물자동차 운송업,용달 화물자동차 운송업,부동산 중개 및 대리업,부동산 중개 및 대리업,...,커피전문점,커피전문점,남녀용 겉옷 및 셔츠 도매업,남녀용 겉옷 및 셔츠 도매업,기타주점업,기타주점업,일반 교과 학원,일반 교과 학원,한식 육류요리 전문점,한식 육류요리 전문점
1,자치구,동,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,...,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수
2,합계,합계,"47,176","76,701","29,225","100,183","28,494","29,356","24,013","42,636",...,"16,255","57,322","13,388","51,116","13,339","31,371","11,911","50,773","11,109","44,653"
3,종로구,소계,215,215,"1,548","5,912",618,646,549,889,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
4,종로구,사직동,7,7,230,982,12,12,57,96,...,124,525,2,18,74,177,9,34,45,220

In [9]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
seoul_business.describe()

,자치구,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
count,451,451,451,451,451,451,451,451,451,451,...,451,451,451,451,451,451,451,451,451,451
unique,27,425,226,280,176,305,177,180,142,205,...,131,239,69,147,127,189,113,222,107,230
top,송파구,소계,71,11,24,104,56,56,40,54,...,13,16,-,-,18,20,4,42,17,45
freq,28,25,7,7,11,6,8,9,11,9,...,18,8,82,82,14,10,15,10,16,9

In [10]:
seoul_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   자치구           451 non-null    object
 1   동             451 non-null    object
 2   다수업종 상위10     451 non-null    object
 3   다수업종 상위10.1   451 non-null    object
 4   다수업종 상위10.2   451 non-null    object
 5   다수업종 상위10.3   451 non-null    object
 6   다수업종 상위10.4   451 non-null    object
 7   다수업종 상위10.5   451 non-null    object
 8   다수업종 상위10.6   451 non-null    object
 9   다수업종 상위10.7   451 non-null    object
 10  다수업종 상위10.8   451 non-null    object
 11  다수업종 상위10.9   451 non-null    object
 12  다수업종 상위10.10  451 non-null    object
 13  다수업종 상위10.11  451 non-null    object
 14  다수업종 상위10.12  451 non-null    object
 15  다수업종 상위10.13  451 non-null    object
 16  다수업종 상위10.14  451 non-null    object
 17  다수업종 상위10.15  451 non-null    object
 18  다수업종 상위10.16  451 non-null    object
 19  다수업종 상위10.17  451 non-null    object
 20  다수업종 상위10.18  451 non-null    object
 21  다수업종 상위10.19  451 non-null    object
dtypes: object(22)
memory usage: 77.6+ KB

#### [실습문제3] 데이터 확인 및 처리

* 데이터를 보았을때, 어느 데이터를 가져와야 할지 생각 해 봅시다.

In [12]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
seoul_business = pd.read_csv(path, sep=",", encoding = "UTF-8", header=1)

In [14]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
pd.set_option('display.max_columns', None)

In [15]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# 행은 전체, 열은 0,1,2,4,6,8,10,12,14,16,18,20
seoul_business = seoul_business.iloc[:,[0,1,2,4,6,8,10,12,14,16,18,20]]

In [16]:
# 해당 데이터프레임을 'df_seoul_business.csv' 파일로 저장하세요.
seoul_business.head()

,자치구,동,택시운송업,한식 일반 음식점업,용달 화물자동차 운송업,부동산 중개 및 대리업,두발미용업,커피전문점,남녀용 겉옷 및 셔츠 도매업,기타주점업,일반 교과 학원,한식 육류요리 전문점
0,자치구,동,사업체수,사업체수,사업체수,사업체수,사업체수,사업체수,사업체수,사업체수,사업체수,사업체수
1,합계,합계,"47,176","29,225","28,494","24,013","18,080","16,255","13,388","13,339","11,911","11,109"
2,종로구,소계,215,"1,548",618,549,261,948,400,537,110,437
3,종로구,사직동,7,230,12,57,28,124,2,74,9,45
4,종로구,삼청동,5,42,4,9,-,66,2,3,-,7

In [17]:
seoul_business = seoul_business[seoul_business['동'] == '소계'].reset_index(drop=True)
seoul_business

,자치구,동,택시운송업,한식 일반 음식점업,용달 화물자동차 운송업,부동산 중개 및 대리업,두발미용업,커피전문점,남녀용 겉옷 및 셔츠 도매업,기타주점업,일반 교과 학원,한식 육류요리 전문점
0,종로구,소계,215,"1,548",618,549,261,948,400,537,110,437
1,중구,소계,230,"1,588",300,576,339,869,"10,810",381,57,443
2,용산구,소계,416,857,455,791,366,634,54,487,104,300
3,성동구,소계,"1,200",956,"1,072",801,489,547,149,285,258,400
4,광진구,소계,"1,119",963,968,871,746,590,89,633,413,467
5,동대문구,소계,"1,546","1,236","1,431",842,611,494,211,499,302,442
6,중랑구,소계,"3,634",991,"1,804",738,790,381,63,535,288,499
7,성북구,소계,"1,835",973,"1,312",846,739,457,85,512,464,365
8,강북구,소계,"1,713",965,"1,024",589,673,358,40,580,220,362
9,도봉구,소계,"2,993",672,"1,571",515,600,288,22,258,351,302
10,노원구,소계,"4,114",866,"1,730",714,782,535,30,355,735,428
11,은평구,소계,"3,108",881,"1,340","1,134",947,457,26,484,551,476
12,서대문구,소계,"1,747",863,802,667,598,370,22,497,361,311
13,마포구,소계,"1,165","1,411",770,"1,149",896,"1,369",96,"1,011",469,701
14,양천구,소계,"2,735",831,"1,286",922,838,402,25,415,"1,284",281
15,강서구,소계,"3,735","1,325","1,799","1,311","1,015",690,78,794,672,581
16,구로구,소계,"2,757","1,048","1,318",789,729,421,114,576,336,428
17,금천구,소계,"1,100",867,935,671,488,383,200,391,153,300
18,영등포구,소계,"1,349","1,738","1,281",986,673,838,76,636,288,494
19,동작구,소계,"1,033",765,830,883,651,486,20,439,407,331
20,관악구,소계,"1,286","1,226","1,579","1,010",895,581,31,658,354,422
21,서초구,소계,417,"1,564",386,"1,457",676,"1,012",157,446,812,445
22,강남구,소계,"1,796","2,415",445,"2,337","1,241","1,624",384,713,"1,426",827
23,송파구,소계,"2,638","1,575","1,910","1,677","1,137",975,147,628,876,639
24,강동구,소계,"3,295","1,101","1,528","1,188",900,546,59,589,620,428

In [18]:
seoul_business = seoul_business.drop('동', axis=1)
seoul_business

,자치구,택시운송업,한식 일반 음식점업,용달 화물자동차 운송업,부동산 중개 및 대리업,두발미용업,커피전문점,남녀용 겉옷 및 셔츠 도매업,기타주점업,일반 교과 학원,한식 육류요리 전문점
0,종로구,215,"1,548",618,549,261,948,400,537,110,437
1,중구,230,"1,588",300,576,339,869,"10,810",381,57,443
2,용산구,416,857,455,791,366,634,54,487,104,300
3,성동구,"1,200",956,"1,072",801,489,547,149,285,258,400
4,광진구,"1,119",963,968,871,746,590,89,633,413,467
5,동대문구,"1,546","1,236","1,431",842,611,494,211,499,302,442
6,중랑구,"3,634",991,"1,804",738,790,381,63,535,288,499
7,성북구,"1,835",973,"1,312",846,739,457,85,512,464,365
8,강북구,"1,713",965,"1,024",589,673,358,40,580,220,362
9,도봉구,"2,993",672,"1,571",515,600,288,22,258,351,302
10,노원구,"4,114",866,"1,730",714,782,535,30,355,735,428
11,은평구,"3,108",881,"1,340","1,134",947,457,26,484,551,476
12,서대문구,"1,747",863,802,667,598,370,22,497,361,311
13,마포구,"1,165","1,411",770,"1,149",896,"1,369",96,"1,011",469,701
14,양천구,"2,735",831,"1,286",922,838,402,25,415,"1,284",281
15,강서구,"3,735","1,325","1,799","1,311","1,015",690,78,794,672,581
16,구로구,"2,757","1,048","1,318",789,729,421,114,576,336,428
17,금천구,"1,100",867,935,671,488,383,200,391,153,300
18,영등포구,"1,349","1,738","1,281",986,673,838,76,636,288,494
19,동작구,"1,033",765,830,883,651,486,20,439,407,331
20,관악구,"1,286","1,226","1,579","1,010",895,581,31,658,354,422
21,서초구,417,"1,564",386,"1,457",676,"1,012",157,446,812,445
22,강남구,"1,796","2,415",445,"2,337","1,241","1,624",384,713,"1,426",827
23,송파구,"2,638","1,575","1,910","1,677","1,137",975,147,628,876,639
24,강동구,"3,295","1,101","1,528","1,188",900,546,59,589,620,428

---

In [19]:
seoul_business.head()

,자치구,택시운송업,한식 일반 음식점업,용달 화물자동차 운송업,부동산 중개 및 대리업,두발미용업,커피전문점,남녀용 겉옷 및 셔츠 도매업,기타주점업,일반 교과 학원,한식 육류요리 전문점
0,종로구,215,"1,548",618,549,261,948,400,537,110,437
1,중구,230,"1,588",300,576,339,869,"10,810",381,57,443
2,용산구,416,857,455,791,366,634,54,487,104,300
3,성동구,"1,200",956,"1,072",801,489,547,149,285,258,400
4,광진구,"1,119",963,968,871,746,590,89,633,413,467

In [20]:
# 해당 데이터프레임을 csv 파일로 저장하세요.

seoul_business.to_csv("df_seoul_business.csv", index = False)

# 3.데이터 분석하기
+ KeyPoint : 데이터의 형태를 살펴보고 다양한 분석기법을 통해 모델링에 적합하도록 정제요소를 선별할 수 있다.
  * 데이터들의 패턴 탐색
  * 변수들간의 관계 파악

In [21]:
import seaborn as sns
import matplotlib.pyplot as plt

# 시각화 한글폰트 설정
# 맑은 고딕

plt.rc('font', family='Malgun Gothic')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

# scipy
import scipy.stats as spst

#### [실습문제4] 데이터 분포 알아보기
* 다양한 변수를 기준으로 그래프를 그려보고 인사이트를 도출해보세요.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
seoul_business.info()

In [ ]:
# 데이터 타입 변경(수치에 ,가 붙어있어서 정수형 변환 시 오류발생)
seoul_business['택시운송업'] = seoul_business.택시운송업.str.replace(',', '').astype('int64')
seoul_business.info()
'''
seoul_business = seoul_business.astype({'택시운송업' : int,
                           '한식 일반 음식점업' : int,
                           '용달 화물자동차 운송업' : int,
                           '부동산 중개 및 대리업' : int,
                           '두발미용업' : int,
                           '커피전문점' : int,
                           '남녀용 겉옷 및 셔츠 도매업' : int,
                           '기타주점업' : int,
                           '일반 교과 학원' : int,
                            '한식 육류요리 전문점' : int})                            
'''

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# 자치구를 제외한 데이터타입을 정수형으로 변환
plt.plot(seoul_business['자치구'], seoul_business['택시운송업'])
plt.xticks(rotation=45)
plt.show()

#### [실습문제9] 데이터 분포 알아보기_1
* '' 변수를 기준으로 CountPlot을 그려보고 인사이트를 도출해보세요.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
sns.countplot(x=, data=seoul_business)

#### [실습문제10] 데이터 분포 알아보기_2
* '도착시간','출발 시군구 코드' 변수를 기준으로 DistPlot(히스토그램)를 그려보고 인사이트를 도출해보세요.

In [25]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [26]:
# 위 차트를 통해 알게된 사실을 정리해봅시다.
# 1. 
# 2.
# 3.

---